@import ../_tipography
@import ../_variable

@mixin backgroundButton($color)
    background: $color
    

.flex
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%

.text
    font-weight: normal
    font-family: $roboto
    width: 100%
    
.subContainer
    @extend .flex
    flex-direction: column
    height: 50%
    
.container
    @extend .flex
    align-items: center
    position: relative
    flex: none
    flex-direction: column
    margin: 10px
    width: 220px
    height: 335px
    padding: 2px
    overflow: hidden
    background: #ffffff
    box-shadow: 0px 0px 5px #9c9c9ce3
    h1, h5
        font-weight: bold
        

.labelContainer
    @extend .flex
    flex-direction: column
    width: 100%
    color: $color-dark-blue

.label
    @extend .flex
    @extend .text
    color: $color-dark-blue
    text-align: center
    height: auto
    width: 100%           

.containerImage
    @extend .flex
    overflow: hidden
    margin-top: 5px
    width: 95%
    height: 70%
    img
        width: 95%
        height: 100%
        
.title
    @extend .flex
    @extend .text
    margin: 0
    min-height: auto
    height: 55px
    font-size: 0.6rem
    width: 100%

.description
    @extend .flex
    height: 25%
    padding: 0
    width: 100%
    h5
        color: #777777
        margin: 0

.containerButtons
    @extend .flex
    height: auto

.buttonEdit
    width: 50%
    @extend .text
    border: none
    @include backgroundButton($color-dark-blue)
    opacity: 0.8
    color: #fff
    cursor: pointer
    &:hover
        opacity: 1
.buttonClose
    @extend .buttonEdit
    @include backgroundButton(red)
